@charset "utf-8";
.wgt-tab {
	clear:both;
}
.tab-u {
	float:left;
	text-align:center;
	cursor:pointer;
	font-family:Verdana, 5B8B4F53, san-serif;
}
.tab-hd {
	overflow:hidden;
	height:26px;
	line-height:25px;
	background-position:right -29px;
}
.tab-hd .current {
	font-weight:bold;
}
.tab-u-10 .tab-u {
	width:96px;
	font-size:14px;
}
.tab-u-10 .current {
	width:97px;
	background:#fff;
}
.tab-u-5 .tab-u {
	width:46px;
}
.tab-u-5 .current {
	width:47px;
}
.tab-u-9 .tab-u {
	width:89px;
	font-size:14px;
}
.tab-u-9 .current {
	width:88px;
	background:#fff;
}
.product-tab .tab-u {
	width:93px;
}
.product-tab .current {
	width:94px;
}
.stock-search {
	clear:both;
	width:100%;
	height:19px;
}
.stock-search label {
	position:absolute;
	left:0;
	top:0;
	color:#999;
	line-height:19px;
	text-indent:3px;
}
.stock-search-input {
	float:left;
	height:17px;
	width:100px;
	padding-right:20px;
}
.stock-search .ui-btn-submit {
	float:left;
	width:16px;
	height:13px;
	margin:3px 0 0 -19px;
	text-indent:-100em;
	overflow:hidden;
	background-position:-46px -190px;
}
.main-title .I_V_ {
	font-weight:bold;
}
.imgText-title .I_V_ {
	font-weight:bold;
}
.entry {
	line-height:21px;
}
.entry a {
	height:21px;
	overflow:hidden;
}
.display-control .tab-con {
	display:none;
}
.display-control .current {
	display:block;
}
.dotline {
	border-bottom:1px dotted #dcdddd;
}
.new {
	text-decoration:underline;
}
.attitude {
	float:left;
	padding-right:63px;
	background:url("attr.png") no-repeat scroll right 1px transparent;
}
.gg-h65, .gg-h100, .gg-h180, .gg-h290, .gg-h300 {
	overflow:hidden;
	clear:both;
}
.ggw600h80 {
	width:600px;
	height:80px;
	overflow:hidden;
}
.area-main ul.dotline {
	padding-bottom:4px;
}
.area-sub ul.dotline {
	padding-bottom:4px;
}
.wgt-theme .current {
	margin-top:-11px;
}
.yodao-dialog {
	width:135px;
	left:-1px;
	top:21px;
}
.yodao-dialog .hd {
	height:20px;
	padding:0 3px;
	line-height:20px;
}
.yodao-dialog-title {
	float:left;
}
.yodao-dialog-close {
	float:right;
	_display:inline;
	width:8px;
	height:12px;
	text-indent:-100em;
	overflow:hidden;
	margin:6px 2px 0 0;
	cursor:pointer;
	background-position:-139px -17px;
}
.yodao-dialog .bd {
	height:76px;
	padding:6px 12px 12px;
}
.yodao-dialog-item {
	float:left;
	display:block;
	height:20px;
	margin:3px 0 0;
}
.yodao-dialog select {
	width:64px;
}
.yodao-dialog .ui-btn-submit {
	width:54px;
	height:21px;
	margin:9px 0 0 36px;
	background-position:-148px top;
}
.aboutNetease {
	height:25px;
	margin-bottom:10px;
}
.aboutNetease li {
	padding:4px 0 0;
	color:#1E50A2;
}
.aboutNetease li a {
	color:#1E50A2;
	padding:0 5px;
}
.aboutNetease li a:visited {
	color:#1E50A2;
}
.footer {
	padding:0 0 5px;
	text-align:center;
	line-height:21px;
	color:#000;
}
.footer a, .footer a:visited {
	color:#1E50A2;
}
.footer img {
	margin:4px 0 0;
}
.gg-g24 { width:958px;
	clear:both;
	height:139px;
	overflow:hidden;
	margin:10px auto 10px;
	text-align:left;
	border:1px solid #dcdddd;
}
.tab-hd-gg-left, .tab-hd-gg-right {
	_display:inline;
	width:22px;
	height:138px;
	overflow:hidden;
}
.tab-hd-gg-left .current, .tab-hd-gg-right .current {
	background-color:#CEE3F6;
	background-repeat:no-repeat;
}
.tab-hd-gg-left li, .tab-hd-gg-right li {
	width:11px;
	overflow:hidden;
	overflow:hidden;
	margin-top:1px;
	line-height:14px;
	cursor:pointer;
}
.tab-hd-gg-left {
	float:left;
	margin-left:1px;
}
.tab-hd-gg-left li {
	padding:8px 4px 9px 3px;
	text-align:left;
}
.tab-hd-gg-left .current {
	padding-right:8px;
	background-position:18px -168px;
}
.tab-hd-gg-right {
	float:right;
	margin-right:1px;
}
.tab-hd-gg-right li {
	float:right;
	padding:8px 3px 9px 4px;
	text-align:right;
}
.tab-hd-gg-right .current {
	padding-left:8px;
	background-position:-126px -168px;
}
.link_gg {
	line-height:21px;
}
.tab-bd-gg, .gg-g24-main {
	float:left;
	overflow:hidden;
}
.tab-bd-gg {
	width:137px;
	margin:7px 0 0 5px;
}
.tab-bd-gg {
	line-height:21px;
}
.gg-g24-main {
	width:600px;
	height:129px;
	margin:5px 10px;
}
.g24-main-textTop {
	display:block;
	overflow:hidden;
	margin:2px 0 1px;
	height:21px;
}
.g24-main-textBottom {
	display:block;
	overflow:hidden;
	margin:3px 0 0 0;
	height:21px;
}
.g24-main-textTop a, .g24-main-textBottom a {
	float:left;
	overflow:hidden;
	width:120px;
	line-height:21px;
}
#g5n1 .bd, #gy .bd, #g5n2 .bd, #recommend .bd {
	height:261px;
}
#g5n3 .bd {
	height:261px;
}
#productCont .bd {
	height:300px;
}
#news .bd {
	height:598px;
}
#vedio .bd {
	height:429px;
}
#moneySub .bd {
	height:223px;
}
#nie .bd {
	height:243px;
}
#trends .bd {
	height:63px;
}
#sportSub .bd, #gameSub .bd {
	height:221px;
}
#money .bd, #auto .bd, #sports .bd, #house .bd, #ent .bd, #game .bd, #tech .bd, #book .bd, #lady .bd, #t .bd {
	height:341px;
}
#market .bd, #blog .bd, #hz .bd, #bbs .bd, #marketSub .bd, #siteRank .bd {
	height:261px;
}
#neteasy_mall {
	height:273px;
	line-height:26px;
	padding-right:0;
}
#neteasy_mall .dotline {
	margin-bottom:5px;
	width:170px;
	line-height:1px;
	font-size:1px;
	height:1px;
}
.neteasy_mall_title {
	color:#2B2B2B;
	font-weight:bold;
	line-height:18px;
	margin-top:-5px;
}
.neteasy_mall_phone, .neteasy_mall_value {
	width:93px;
	height:19px;
	border:1px solid #86A2BD;
	color:#727171;
	padding-left:5px;
}
.neteasy_mall_phone {
*padding-top:2px;
*height:17px;
}
.neteasy_mall_value {
	width:60px;
	height:20px;
	padding-left:0
}
.neteasy_mall_submit {
	width:35px;
	height:20px;
	background:url("neteasy_mallv0.0.1.png") no-repeat;
	border:none;
	color:#BA2636;
	cursor:pointer;
	margin-left:5px;
}
#phone_err {
	width:14px;
	height:14px;
	line-height:1px;
	font-size:1px;
	display:inline-block;
	background:url("neteasy_mallv0.0.1.png") -39px 0 no-repeat;
	margin-left:3px;
}
.mall_flash {
	margin-bottom:8px;
}
.mall_price {
	_line-height:30px
}
.mall_img {
	margin-top:-2px;
*margin-top:7px;
}
.remindtt75 {
	font-size:100%;
	padding:2px;
}
.remindtt752 {
	font-size:100%;
	padding-left:2px;
	padding-right:2px;
	color:#9E9E9E
}
.jstxhuitiaozuo {
	background-color:#eaf1fd;
	color:#8D9DBE;
	font-size:100%;
	padding-left:5px;
	padding-top:1px;
}
.jstxhuitiaoyou {
	font-size:100%;
	padding-right:5px;
}
.jstxlan {
	font-size:100%;
	cursor:pointer
}
.jstxlan:hover {
	text-decoration:underline;
}
.aa_highlight {
	color:#fff;
}
.header, .content, .footer {
	clear:both;
	width:960px;
	margin:0 auto;
}
.header, .footer {
	margin-top:5px;
}
div, p, li {
	overflow:hidden;
}
#sosoFod {
	margin-bottom:0;
}
#SosoArea input.w {
	background-attachment:fixed;
}
#tailor div {
	float:left;
	margin-left:3px
}
#tailorInfo .imgRArea1 {
	padding-left:0;
}
#tailorInfo .textArea {
	line-height:24px;
}
#proArea_banner img {
	margin-bottom:0;
}
#proArea_banner {
	height:40px;
	margin-bottom:10px;
	padding:2px 0 0 16px;
	line-height:40px;
}
#NewsInfo, #financeInfo, #carInfo, #techInfo, #eduInfo, #kidInfo, #astroInfo {
	line-height:24px;
}
.textArea {
	line-height:24px;
}
#QQ_takeove {
	overflow:visible;
	display:none;
}
.enter_ipad_wrap {
	width:958px;
	font-family:Helvetica, Tahoma, Verdana, "微软雅黑", "Microsoft YaHei";
	margin:5px auto;
	padding:0;
	border:1px solid #D8D8D8;
	border-radius:5px;
	background-color:#F2F2F2;
	clear:both;
}
.enter_ipad_wrap:after {
	content:"";
	display:block;
	clear:both;
}
.channel_ipad_wrap {
	float:left;
	width:795px;
	overflow:hidden;
	position:relative;
}
.channel_ipad_wrap .tips_enter_ipad {
	font-size:14px;
	color:#7B7B7B;
	background:url(http://mat1.gtimg.com/ipad/images/icon_apple_tips.png) 0 1px no-repeat;
	margin:5px 0 0 10px;
	padding-left:20px;
	text-align:left;
}
.channel_ipad_wrap .list_enter_ipad {
	margin:10px 0 5px 0;
	padding-left:0px;
}
.channel_ipad_wrap .list_enter_ipad:after {
	content:"";
	display:block;
	clear:both;
}
.channel_ipad_wrap .list_enter_ipad li {
	display:inline-block;
	margin:0 22px;
}
.channel_ipad_wrap .list_enter_ipad a {
	background:url(http://mat1.gtimg.com/ipad/images/pic_enter/icon_enter_logo_v4.png) no-repeat;
	display:inline-block;
	width:50px;
	height:67px;
	line-height:200px;
	font-size:0px;
	overflow:hidden;
}
.channel_ipad_wrap .list_enter_ipad .tencentIpad {
	background-position:0 0;
}
.channel_ipad_wrap .list_enter_ipad .entIpad {
	background-position:-91px 0;
}
.channel_ipad_wrap .list_enter_ipad .picIpad {
	background-position:-185px 0;
}
.channel_ipad_wrap .list_enter_ipad .videoIpad {
	background-position:-280px 0;
}
.channel_ipad_wrap .list_enter_ipad .nbaIpad {
	background-position:-371px 0;
}
.channel_ipad_wrap .list_enter_ipad .scrollIpad {
	background-position:-463px 0;
}
.channel_ipad_wrap .list_enter_ipad .wbIpad {
	background-position:-555px 0;
}
.channel_ipad_wrap .list_enter_ipad .musicIpad {
	background-position:-700px 0;
}
.channel_ipad_wrap .list_enter_ipad .stockIpad {
	background-position:-630px 0;
	width:52px;
}
.channel_ipad_wrap .list_enter_ipad .movieIpad {
	background-position:-836px 0;
}
.channel_ipad_wrap .list_enter_ipad .tvIpad {
	background-position:-903px 0;
}
.channel_ipad_wrap .list_enter_ipad .mvIpad {
	background-position:-971px 0;
}
.channel_ipad_wrap .list_enter_ipad .cartoonIpad {
	background-position:-1040px 0;
}
.channel_ipad_wrap .list_enter_ipad .varietyIpad {
	background-position:-769px 0;
}
.channel_ipad_wrap .list_enter_ipad .digiIpad {
	background-position:-1109px 0;
}
.channel_ipad_wrap .list_enter_ipad .gameIpad {
	background-position:-1178px 0;
}
.enter_ipad_wrap .line_ipad {
	width:1px;
	font-size:0px;
	overflow:hidden;
	background-color:#D8D8D8;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	height:116px;
	float:left;
}
.enter_ipad_wrap .icare_ipad_wrap {
	width:160px;
	text-align:center;
	float:left;
	font-size:14px;
	color:#7B7B7B;
	margin-top:5px;
}
.enter_ipad_wrap .icare_ipad_wrap p.tips_down {
	margin:0;
}
.enter_ipad_wrap .icare_ipad_wrap .icareIpad {
	background:url(http://mat1.gtimg.com/ipad/images/pic_enter/icon_icare_ipad.png) no-repeat;
	display:inline-block;
	width:50px;
	height:67px;
	line-height:200px;
	font-size:0px;
	overflow:hidden;
	margin-top:10px;
}
.enter_ipad_wrap .list_enter_ipad_scroll {
	width:760px;
	overflow:hidden;
	margin:0 0 0 10px;
}
.enter_ipad_wrap .icare_ipad_wrap .browserIpad {
	background:url(http://mat1.gtimg.com/ipad/images/pic_enter/icon_browser_ipad.png) no-repeat;
	display:inline-block;
	width:75px;
	height:68px;
	line-height:200px;
	font-size:0px;
	overflow:hidden;
	margin-top:8px;
}
.enter_ipad_wrap .list_enter_ipad_scroll {
	width:760px;
	overflow:hidden;
	margin:0 0 0 10px;
}
.ui_colLine {
	background-color: #B1C8D7
}
.txt120 .con {
	border: 1px solid #EDEDED;
	background: #F5F8FC;
}
.ui_pro .tr1 {
	background-color: #fff
}
.aboutNetease {
	background: #F5F8FC;
	border: 1px solid #B1C8D7
}
.nw_dl dt {
	background: #e6eef7
}
.tab_gg_l li, .tab_gg_l li.current, .tab_gg_r li, .tab_gg_r li.current, .ui_tit38, .ui_tit26, .ui_txt, .tabG5_c .con, .tabG4_c .con, .tabG3_c .con, .tabG5_l .con, .tabG4_l.con, .tabG3_l .con, .tabG5_r .con, .tabG4_r .con, .tabG3_r .con, .frm_money .ipt, .frm_money .btn {
	background: url(skin_blue1117.png) no-repeat
}
.ui_bg001, .ui_bg101, .ui_bg000, .ui_bg100, .ui_c110, .ui_c001, .ui_c111, .ui_conR {
	background: url(bg.gif) repeat-y #fff
}
#ydSkin {
	color: #1f3a87;
	background-image: url(../../images/boda/sprites_2.jpg)
}
#ydSkin #ydAreas {
	background: #edf4fc;
	border-color: #96afd5 #6583b2 #6583b2 #96afd5
}
#ydSkin .yda-title {
	background: #dae8fa
}
.yditemnormal {
	color: #1f3a87;
	background: #fff
}
.yditemover, .aa_highlight {
	color: #fff;
	background: #1f3a87
}
.ydsep {
	background: #fff;
	border-color: #1f3a87
}
.popupMenu {
	background: #1f3a87;
	border-color: #96afd5 #6583b2 #6583b2 #96afd5
}
.jstxhuitiaoyou {
	background-color: #f5f5f5;
	font-size: 100%;
	padding-right: 5px
}
.jstxlan {
	color: #1f3a87;
	font-size: 100%;
	cursor: pointer
}
.jstxlan:hover {
	text-decoration: underline;
	color: #1f3a87
}
.titleBar, .titleBar a, .titleBar a:visited {
	color: #1E50A2
}
#ydSkin a, #ydSkin .sl, .cTab {
	color: #1f3a87
}
#ydSkin .yda-close, #ydaSubmit {
	background-image:url(../../images/boda/sprites_2.jpg) no-repeat;
}
htmk, body {
	margin:0;
	padding:0;
	font-family: "宋体", "Arial", "Verdana";
	font-size:12px;
}
form {
	margin:0;
	padding:0;
}
img {
	border:0px;
}
li {
	list-style-type:none;
}
h1 {
	font-size:14px;
	margin:0;
	padding:0;
}
h2, h3, h4, h5, h6, h7, form, p {
	margin:0;
	padding:0;
}
.space {
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	text-align:center;
}
.block {
	width:768px;
	margin:0 auto
}
.error {
	width:100%;
	line-height:200%;
	padding:30px 20px
}
.error span {
	margin:0 auto;
	display:block;
	text-align:center;
	margin-top:10px
}
.input1 {
	height:17px;
	line-height:18px;
	font-size:12px;
	border:1px solid #8c9db1;
	border-right:0;
	color:#113959;
}
a, a:link, a:visited {
	text-transform: none;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000
}
a:hover {
	text-decoration:underline;
	color: #FF3333
}
#footer {
	text-align:center;
	line-height:20px;
	clear:both;
	font-family:arial
}
/*isohu-toolbar*/
#isohu-topbar {
	height: 30px;
}
#isohu-topbar a, #isohu-topbar a img {
	border: 0 none;
}
#isohu-topbar .isohu-topbar-wrapper {
	position: fixed;
	_position: absolute;
	top: 0;
_top: expression(documentElement.scrollTop + 0 + "px");
	left: 0;
	width: 100%;
	z-index: 2000;
	background-image: url('http://r1.suc.itc.cn//itoolbar/index/toolbar_bg.v.110928.gif');
	color: #333333;
	height: 30px;
	font-family: simsun;
}
#isohu-topbar .isohu-topbar {
	width: 950px;
	height: 30px;
	margin: 0 auto;
	color: #fff;
	position: relative;
}
#innerToolBar {
	position: relative;
	width: 950px;
	height: 30px;
	margin: 0 auto;
}
#isohu-topbar .tb-user-unlogin {
	border: none;
	background-color: transparent;
	width:282px;
	line-height:22px;/*margin: 8px 16px 0 20px;*/
}
#isohu-topbar .tb-user-unlogin #tb_user_info {
	border-width: 1px 0 1px 1px;
	border-style:solid;
	border-color: #b5cbdc;
}
#isohu-topbar .error #tb_user_info {
	border: 0px;
	margin:1px;
}
/*toolbar user info*/
#tb_user {
	float: left;
	width:135px;
	height:25px;
	margin:0 1px;
	display:inline;
	overflow:hidden;
	padding:5px 0 0 0;
}
#tb_user.current {
	background-color: #EFF4F8;
	margin:0;
	border-style:solid;
	border-width: 0 1px 0 1px;
	border-color: #c0d6ef;
}
#tb_user a {
	font-size:12px;
	line-height: 22px;
	margin: 0 5px 0 0;
}
#tb_user.current a {
	color:#333;
}
#tb_user.current span {
	color: #0b60af;
}
#tb_user_info {
	position:relative;
	float: left;
	height: 16px;
	_height: 18px;
	padding: 1px 3px;
	cursor: pointer;
}
#tb_user_info img {
	float:left;
	margin:0px 3px 1px 0px;
	vertical-align: middle;
}
#tb_user_info .tb-user-name {
	float:left;
	width:100px;
	margin:1px 0 0;
	overflow:hidden;
	vertical-align:middle;
	font-size:12px;
	line-height:15px;
	font-family:Arial;
	text-align:left;
	word-break:keep-all;
	white-space:nowrap;
}
#tb_user .menu-arrow {
	position:absolute;
	top:9px;
	left:125px;
	float: none;
	width: 7px;
	height: 4px;
	margin:0px 0 0;
	padding: 0;
	cursor: pointer;
	text-decoration: none;
	line-height:1px;
	font-size:1px;
	background: url('http://r1.suc.itc.cn//itoolbar/index/toolbar_icon.gif') -93px -17px;
	vertical-align:middle;
}
#tb_user.current .menu-arrow {
	background-position: -93px -32px;
}
#tb_user .tb-user-site {
	display:none;
}
/* toolbar nav */
.tb-nav {
	float: left;
	margin: 0 0 0 0px;
}
.tb-nav-myhome-title {
	float:left;
	padding-right:0px;
	font-weight:bold;
}
.tb-nav-myhome-title ul.page-nav li a {
	padding:9px 4px 7px 0 !important;
}
.tb-nav-myhome-title span {
	color: #c8161d;
}
.tb-nav-myhome {
	float:left;
	padding-right:0px;
}
.tb-nav-inform {
	float:left;
	padding-right:0px;
}
.tb-nav-app {
	width:130px;
}
.tb-nav-tsohu-title {
	float:right;
	padding-right:0px;
}
.tb-nav-tsohu {
	float:right;
	padding-right:0px;
}
.tb-nav ul.page-nav {
	height:30px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.tb-nav ul.page-nav {
	_display:inline;
}
.tb-nav ul.page-nav li {
	position: relative;
	z-index: 20;
	display: inline;
	float: left;
	height: 30px;
	margin: 0 1px;
	color:#fff;
	font-size:12px;
	background-repeat:no-repeat;
	background-position:center right;
}
.tb-nav ul.page-nav li.toolbar-btn-hover {
	background:#fff;
}
.tb-nav ul.page-nav li a {
	position:relative;
	z-index:21;
	display: block;
	padding: 9px 5px 7px;
	line-height:14px;
	color:#333;
	font-size:12px;
	text-decoration:none;
bblr:expression(this.onFocus=this.blur());
	outline-style:none;
	float:left;
}
/*wrapper*/
.tb-nav ul.page-nav li#notice_wrapper {
	background-image:none;
}
.tb-nav ul.page-nav li#notice_wrapper a.jewel-notice {
	width:16px;
	height:14px;
	padding:9px 6px 8px;
}
/*notice_wrapper*/
.tb-nav ul.page-nav li#notice_wrapper a.jewel-notice {
	background-image:url('http://r1.suc.itc.cn//itoolbar/index/toolbar_icon.gif');
	background-position: -28px 0;
}
.tb-nav ul.page-nav li#notice_wrapper.active a.jewel-notice {
	background-position: -28px -64px;
}
.tb-nav ul.page-nav li#notice_wrapper.active-num a.jewel-notice {
	background-position: -28px -32px;
}
/*app_wrapper*/
.tb-nav ul.page-nav li#app_wrapper {
	background-image:none;
}
.tb-nav ul.page-nav li#app_wrapper a.app-menu-link {
	padding-right:15px;
}
.tb-nav ul.page-nav li#app_wrapper span.app-arrow {
	position: absolute;
	z-index:22;
	display:inline-block;
	left: 30px;
	top: 13px;
	width: 7px;
	height: 4px;
	line-height:1px;
	font-size:1px;
	background: url('http://r1.suc.itc.cn//itoolbar/index/toolbar_icon.gif') -93px -17px;
}
.tb-nav ul.page-nav li#app_wrapper.active span.app-arrow {
	left: 30px;
}
.tb-nav ul.page-nav li.active {
	background-color: #fff;
	border-style:solid;
	border-width: 0 1px 0 1px;
	border-color: #c0d6ef;
	margin:0;
}
.tb-nav ul.page-nav li.active a {
	color: #666;
}
.tb-nav ul.page-nav li.current {
	background-color: #2f7bbb;
}
/*num*/
.tb-nav ul.page-nav span.notice-num {
	display:none;
	height:12px;
	line-height:12px;
	padding:0;
	min-width:10px;
	_width:10px;
	text-align:center;
	font-size:12px;
	color:#fff;
	background:#d82521;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border:#a52d2c 1px solid;
	border-top: #d6341f 1px solid;
	border-left: #d6341f 1px solid;
	float:left;
	margin:8px 5px 0 -4px;
	word-wrap: normal;
	white-space: nowrap;
	word-break: keep-all;
}
.tb-nav ul.page-nav li.active-num span.notice-num {
	display:block;
}
.tb-nav ul.page-nav li.active span.notice-num {
	color:#9e9e9e;
	background:#ddd;
	border: #ddd 1px solid;
}
.tb-nav ul.page-nav li.active-num span.digit-one {
}
.tb-nav ul.page-nav li.active-num span.digit-second {
}
.tb-nav ul.page-nav li.active-num span.digit-three {
}
/*inform cont*/
.tb-nav #inform_cont_wrapper {
	position: absolute;
	z-index: 19;
	top:30px;
	left:-1px;
	width:205px;
	margin: 0;
	padding:5px 0 0 0;
	display:none;
	background:#fff;
	border:1px solid #c0d6ef;
	border-top:0;
	color:#333;
	text-align:left;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow:hidden;
}
.tb-nav li.active #inform_cont_wrapper {
	display:block;
}
.tb-nav #inform_cont_wrapper a {
	display:inline-block;
	padding:0;
	color:#6699cc;
	background:none;
	float:none;
}
.tb-nav #inform_cont_wrapper a:hover {
	text-decoration:underline;
}
.tb-nav #inform_cont_wrapper .open-inform-link {
	height:20px;
	margin:8px 8px 0 8px;
	border-bottom:1px solid #aaa;
}
.tb-nav #inform_cont_wrapper .open-inform-link a {
	float:right;
	padding:0;
}
.tb-nav #inform_cont_wrapper .inform-link {
	margin:0 8px;
	padding:8px 0;
}
.tb-nav #inform_cont_wrapper .inform-link i {
	font-style:normal;
	color:#0b60af;
	font-weight:bold;
	display:inline !important;
	zoom:normal !important;
}
.tb-nav #inform_cont_wrapper .inform-link a {
	color:#0b60af;
}
.tb-nav #inform_cont_wrapper .view-inform-link {
	padding:8px 0;
	text-align:center;
	background:#f5f5f5;
	border-top:1px solid #ebebeb;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.tb-nav #inform_cont_wrapper .inform-list {
	overflow:hidden;
	clear:both;
	padding:4px 0 10px 0;
}
.tb-nav #inform_cont_wrapper .inform-list li, .tb-nav #inform_cont_wrapper .inform-list li a {
	float:none;
}
.tb-nav #inform_cont_wrapper .inform-list li span.at {
	font-family:Verdana;
}
.tb-nav #inform_cont_wrapper .inform-list li {
	display:block;
	clear:both;
	height:23px;
	line-height:23px;
	color:#676767;
	padding-left:5px;
}
.tb-nav #inform_cont_wrapper #view_inform.current {
	background:#eff4f8;
}
/*app menu*/
.tb-nav #app_menu_wrapper {
	position: absolute;
	z-index: 19;
	margin: 0;
	top:30px;
	left:-1px;
	width: 150px;
	background:#fff;
	border:1px solid #c0d6ef;
	border-top:0;
	display:none;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow:hidden;
}
.tb-nav li.active #app_menu_wrapper {
	display:block;
}
.tb-nav ul.app-menu {
	width: 150px;
	margin:0;
	padding:5px;
	line-height:24px;
	overflow:hidden;
	zoom:1;
	list-style:none;
}
.tb-nav ul.app-menu li {
	float: left;
	margin: 0;
	padding: 0;
	width: 70px;
	height: 26px;
	line-height: 24px;
	cursor: pointer;
	list-style: none
}
.tb-nav ul.app-menu li.current {
	background-color: #eff4f8;
	background-image:none;
}
.tb-nav ul.page-nav li.active ul.app-menu li.current a {
	background: none;
}
.tb-nav ul.app-menu span.icon {
	float: left;
	width: 16px;
	height: 16px;
	margin: 4px 3px 0 8px;
	_margin: 4px 3px 0 5px;
	display: inline;
	background: url('http://r1.suc.itc.cn//itoolbar/index/icon_space.v.110614.gif') no-repeat;
	cursor: pointer;
}
.tb-nav ul.app-menu li a {
	line-height: 24px;
	color: #333;
	padding:0;
	zoom:1;
}
.tb-nav ul.app-menu span.i-blog {
	background-position: 0 0;
}
.tb-nav ul.app-menu span.i-album {
	background-position: -30px 0px;
}
.tb-nav ul.app-menu span.i-video {
	background-position: -60px 0px;
}
.tb-nav ul.app-menu span.i-leavemsg {
	background-position: -90px 0px;
}
.tb-nav ul.app-menu span.i-group {
	background-position: -120px 0px;
}
.tb-nav ul.app-menu span.i-share {
	background-position: -150px 0px;
}
.tb-nav ul.app-menu span.i-sayhi {
	background-position: -180px 0px;
}
.tb-nav ul.app-menu span.i-tsohu {
	background-position: -330px 0px;
}
.tb-nav ul.app-menu span.i-youxi {
	background-position: -270px 0px;
}
.tb-nav ul.app-menu span.i-subscribe {
	background-position: -240px 0px;
}
#app_wrapper ul.app-menu span.i-wenda {
	background-position: -420px 0px;
}
#app_wrapper ul.app-menu span.i-baby {
	background-position: -390px 0px;
}
/*微博*/
.tb-nav-tsohu-title #tb_tsohu_news a:hover, .tb-nav-tsohu-title #tb_tsohu_tactive a:hover {
	text-decoration:underline;
}
.tb-nav-tsohu-title .tsohu_title {
	font-weight:bold;
}
/*toolbar ad*/
#tb_addon {
	float: left;
	width:118px;
	height:18px;
	overflow:hidden;
	margin: 6px 0 0 0;
	display: inline;
	line-height:18px;
	;
	display:none
}
#tb_addon a {
	color: #333;
	font-weight: normal;
	text-decoration: underline;
}
/*toolbar tips*/
#innerToolBar.static {
}
#innerToolBar .tip {
	position: absolute;
	z-index:25;
	top: 41px;
	left:343px;
	width: 295px;
	height: 50px;
	background: #fff;
	border: 3px solid #69c;
}
#innerToolBar .tip a {
	color:#0272B2
}
#innerToolBar .ticon {
	position: absolute;
	left: 72px;
	top: -10px;
	display: block;
	width: 16px;
	height: 10px;
	font-size: 1px;
	background: url('http://r1.suc.itc.cn//itoolbar/index/img_bubble.gif') no-repeat 0 -30px;
}
#innerToolBar .close {
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	right: 3px;
	top: 3px;
	color: #69c;
	cursor: pointer;
	background: url('http://r1.suc.itc.cn//itoolbar/index/icon_tools.gif') no-repeat scroll -48px -32px transparent;
	text-indent: -999px;
}
#innerToolBar a:hover .close {
	background-position: -48px -16px;
}
#innerToolBar p {
	margin: 0;
	line-height: 20px;
	text-align: left;
}
#innerToolBar em {
	color: #fb8902;
	font-style: normal;
}
#innerToolBar .tip2 {
	width: 200px;
	left: 281px;
}
#innerToolBar .tip2 .ticon {
	left: 100px
}
#innerToolBar .tip2 p {
	margin: 10px 0 0;
}
#innerToolBar .tip2 a:hover {
	text-decoration: underline;
	color: #0272B2;
}
#innerToolBar .tip3 {
	width: 200px;
	left: 351px;
}
#innerToolBar .tip3 .ticon {
	left: 100px
}
#innerToolBar .tip3 p {
	margin: 10px 0 0;
}
#innerToolBar .tip3 a:hover {
	text-decoration: underline;
	color: #0272B2;
}
#login_ico {
	display: inline;
	border: 1px solid #CCCCCC;
	float: left;
	height: 48px;
	margin: 10px 0px 7px 7px;
	overflow: hidden;
	padding: 1px;
	width: 48px;
}
#login_ico img {
	border: medium none;
	height: 48px;
	width: 48px;
}
#login_name, #loginCard .passportc p#login_name {
	margin: 15px 0 6px 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 65px;
	overflow:visible;
}
#login_opr {
	border-top: 1px solid #CCCCCC;
	margin: 7px 5px 0pt 65px;
	padding: 5px 0pt 0pt;
}
#login_opr a {
	margin: 0pt 5px;
	padding:0;
}
#login_opr a:hover {
	padding:0;
	border:0;
}
/******* start menu *******/
.toolBar .menuSub-div-start {
	width: 400px;
	background: #f6f6f6 url(http://js.sohu.com/passport/images/startmenu_bg.gif) repeat-x center top;
	border: 1px solid #ccc;
}
/******* start menu *******/
.toolBar .menuSub-div-start {
	width: 400px;
	background: #f6f6f6 url(http://js.sohu.com/passport/images/startmenu_bg.gif) repeat-x center top;
	border: 1px solid #ccc;
}
/* all css */
#loginCard {
	display:none;
	position: absolute;
	top:30px;
	left:58px !important;
	z-index: 1500;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border:1px solid #c0d6ef;
	border-top:0;
	width: 282px;
	height:170px;
}
.login-card .passportc ul, .login-card .passportc ol, .login-card .passportc li, .login-card .passportc span, .login-card .passportc p, .login-card .passportc form {
	margin: 0;
	padding: 0;
	border: 0;
}
.login-card .passportc img, .login-card .passportc a img {
	border: 0;
	margin: 0;
	padding: 0;
}
.login-card .passportc ul, .login-card .passportc ol, .login-card .passportc li {
	list-style: none
}
/* link color */
.login-card .passportc a {
	color: #313031;
	text-decoration: none
}
.login-card .passportc a:link, .passportc a:visited {
	color: #FF6000;
}
.login-card .passportc a:hover {
	text-decoration: underline;
}
/* login */
.login-card .passportc {
	height: 165px;
	width: 282px;
	_height /**/: 165px;
	_width /**/: 282px;
	padding:5px 0 0 0;
	font-size: 12px;
	background: #EFF4F8;
	text-align: left;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.login-card .passportc b {
	color: #FF0000;
}
.login-card .pptitle, .login-card .pptitle2 {
	margin: 0px 10px -3px 10px !important;
	margin: 0px 10px;
	line-height: 25px;
}
/*title*/
.login-card .pptitle {
	font-weight: bold;
}
.login-card .pptitle2 span {
	font-weight: bold;
}
.login-card .pptitle2 {
	position: relative;
	margin-right: 0;
}
.login-card .pptitle2 .exit {
	position: absolute;
	right: 10px;
	top: 1px;
*top: -3px;
}
/*exit*/
.login-card .ppthree {
	display: inline;
	color: #f00;
	margin: auto 27px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.login-card .passportc .ppthree a, .login-card .passportc .ppthree a:link, .login-card .passportc .ppthree a:visited {
	color: #f00;
	font-weight:normal;
}
.login-card .ppcontent {
	height: 126px;
	_height /**/: 133px;
	padding: 7px 0px 0px 10px;
	background: url(http://www.sohu.com/passport/images/pic001.gif) no-repeat center;
	position: relative;
}
.login-card .passportc .error {
	color: #FF6000;
	height:15px;
}
.login-card .passportc .card {
	font-weight: normal;
	padding: 0px 0px 0px 25px;
	color: #313031;
}
.login-card .passportc .card li {
	margin: 2px 0px 7px 0px !important;
	margin: 2px 0px 5px 0px;
}
.login-card .passportc .card li a:link, .passportc .card li a:visited {
	margin-right: 27px;
}
.login-card .card dt {
	margin-top: 7px;
}
.login-card .passportc .card dl {
	padding-top: 5px
}
.login-card .passportc .card .sign {
	background: url('http://r1.suc.itc.cn//itoolbar/index/btn_login.gif') no-repeat;
	width: 54px;
	height: 24px;
	border: 0;
	font-size: 12px;
	padding-top: 1px;
	_padding-top /**/: 4px;
	color: #fff;
	cursor:pointer;
}
.login-card .passportc .card .ppinput {
	border: 1px #a2b3c3 solid;
	background: #fff;
	font-size: 12px;
	height: 19px;
	width: 164px;
	_height /**/: 19px;
	_width /**/: 166px;
	margin: 0;
	padding: 0;
}
.login-card .card dl a:link, .login-card .card dl a:visited {
	margin-right: 27px;
}
.login-card .card dt span {
	margin: 5px 25px 0px 38px;
	color: #313031;
}
/* select */
.login-card .ppselecter, .login-card .ppselecter * {
	font-size: 12px;
	font-family: simsun, Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
.login-card .ppselecter {
	border: 1px solid #FFA700;
	width: 160px;
	margin-left: 1px;
	overflow: hidden
}
.login-card .ppselecter .ppseltit {
	background-color: #FFF6DF;
	height: 15px;
	padding-top: 4px;
	text-indent: 6px;
	color: #FF6000;
}
.login-card .ppselecter table td table td {
	padding: 3px;
}
.login-card .ppselecter .active {
	background: #FDD463;
	color: #333;
	font-weight: normal;
}
/* logining  */
.login-card .ppWaitMsg {
	background: url(http://images.sohu.com/passport/v3/cardstyle/images/load.gif) no-repeat center 30px;
	color: #FF6000;
	padding-top: 90px;
	padding-left: 50px;
	font-size: 12px;
	width: 250px;
	font-weight: normal;
}
/* login end */
.login-card .passportc .listContA {
	width: 258px;
	height: 71px;
	_width /**/: 260px;
	_height /**/: 73px;
	border: 1px #FFD391 solid;
	background: #fff;
	margin: 0px 3px 0px -1px;
	color: #FF6000;
}
.login-card .passportc .listContA ul {
	margin-top: 7px !important;
	margin-top: 9px;
	margin-left: 8px;
}
.login-card .passportc .listContA li {
	margin-bottom: 7px;
}
.login-card .passportc .listContA li p {
	color: #313031;
}
.login-card .passportc .middle {
	color: #FF6000;
	margin-left: -1px;
}
.login-card .passportc .middle li {
	float: left;
	margin-top: 6px;
	margin-left: 5px;
}
.login-card .passportc .middle li img {
	background: url(http://www.sohu.com/passport/images/pic005.gif) no-repeat;
	width: 32px;
	height: 15px;
}
.login-card .passportc .middle .current {
	padding: 6px 7px 2px 7px;
	margin: -1px 0px 0px 0px;
	background: #fff;
	border: 1px #FFD391 solid;
	border-top: 0px;
	color: #000;
}
.login-card .passportc .bottom {
	color: #FF6000;
	width: 258px;
	clear: both;
}
.login-card .passportc .bottom ul {
	margin-left: 0px !important;
	margin-left: -10px;
}
.login-card .passportc .bottom li {
	float: left;
	margin-top: 6px;
	margin-left: 5px;
}
.login-card .passportc .bottom .dabenying {
	float: right;
	margin-top: 1px;
}
.login-card .passportc .bottom .dabenying img {
	width: 54px;
	height: 24px;
	border: 0;
}
.login-card .passportc .candle {
	position: absolute;
	left: 220px;
	top: 12px;
}
/*** blog.sohu.com redefine begin ***/
/* a */
.login-card .passportc a {
	color: #1b5891;
}
.login-card .passportc a:link, .passportc a:visited {
	color: #1b5891;
}
.login-card .passportc a:hover {
	color: #fc7821;
}
.login-card .passportc .middle a:link, .login-card .passportc .middle a:visited, .login-card .passportc .bottom a:link, .login-card .passportc .bottom a:visited {
	color: #336699;
}
/* border-color */

.login-card .passportc .card .ppinput {
	border-color: #a2b3c3;
}
.login-card .ppselecter {
	border-color: #C3CECD;
}
.login-card .passportc .listContA {
	border-color: #C3CECD;
}
.login-card .passportc .middle .current {
	border-color: #c3cecd;
}
/* background & color */
.login-card .passportc * {
	color: #333;
}
.login-card .ppcontent {
	background: #eff4f8 none;
}
.login-card .passportc .middle li img {
	background-image: url('http://r1.suc.itc.cn//itoolbar/index/img_go_arrow.gif');
}
.login-card .ppselecter, .ppselecter * {
	color: #493a01;
}
.login-card .ppselecter .ppseltit {
	background: #C3CECD !important;
	color: #333 !important;
}
.login-card .ppselecter .active {
	background: #FC7821 !important;
	color: #fff !important;
}
.login-card .ppWaitMsg {
	background-image: url(http://js.sohu.com/passport/images/load.gif);
	color: #666;
}
.login-card .passportc .listContA {
	color: #333;
}
.login-card .passportc .middle, .login-card .passportc .bottom {
	color: #666;
}
.login-card .passportc .middle .current {
	color: #333;
}
/* position */
.login-card .pptitle, .login-card .pptitle2 {
	margin: 0 10px -3px 10px;
}
.login-card .pptitle *, .login-card .pptitle2 * {
	line-height: 25px;
}
.login-card .ppcontent {
	width: 268px;
	height: 128px;
	padding: 7px 0px 0px 8px;
}
.login-card .ppWaitMsg {
	width: auto;
	margin: 0 8px 0 0;
	padding: 90px 0 0 0;
	text-align: center;
}
.login-card .passportc .listContA {
	width: 260px;
	height: 71px;
	margin: 0;
}
.login-card .passportc .middle {
	float: none !important;
	width: auto !important;
	height: auto !important;
	margin: 0 0 0 0px;
	padding: 0 !important;
}
.login-card .passportc .bottom li {
	margin-left: 4px;
}
.login-card .passportc .bottom .dabenying {
	margin: 1px 0px 0 0;
}
.login-card .passportc .bottom .dabenying img.btn-camp {
	width: 54px;
	height: 21px;
	background: url('http://r1.suc.itc.cn//itoolbar/index/btn_camp.gif') no-repeat;
}
/*简单登录框*/
#simple_card .passportc {
	width:auto;
	height: auto;
	background: none;
	border: 0;
	padding: 0;
}
#simple_card .passportc .error {
	display: none
}
#simple_card .simple-email {
	width:90px;
	_width:88px;
	height:16px;
	border:0;
}
#simple_card .simple-pwd {
	width:70px;
	_width:68px;
	height:16px;
	border:0;
}
#simple_card .simple-email-wrapper {
	float:left;
	height:16px;
	padding:1px;
	border-width: 1px 1px 1px 0;
	border-style:solid;
	border-color: #b5cbdc;
}
#simple_card .simple-pwd-wrapper {
	float:left;
	height:16px;
	padding:1px;
	margin-left:4px;
	border: 1px solid #b5cbdc;
}
#tb_user_login .error {
	float:left;
	padding: 0 5px;
	line-height:22px;
	color: #c00;
}
#simple_card .simple-btn {
	float:left;
	width:43px;
	height:20px;
	margin:0 8px 0 3px;
	_margin:1px 8px 0 3px;
	_margin-right:5px;
	border:0;
	color:#fff;
	background-image:url('http://r1.suc.itc.cn//itoolbar/index/btn_login_simple.v20111013.gif');
	vertical-align: middle;
	cursor: pointer;
}
#simple_card .passportc a {
	color: #333
}
#simple_card .ppselecter {
	left:0;
	margin-left:88px !important;
}
/*
* temp
*/
.tb-nav .tbNotice {
	position: relative;
}
.tb-nav .tbNotice span {
	background: url('http://r1.suc.itc.cn//itoolbar/index/icon_tools.gif') repeat scroll 0px 0px transparent;
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	height: 13px;
	line-height: 12px;
	position: absolute;
	left: 35px;
	text-align: center;
	top: 8px;
	width: 22px;
	padding-left: 3px;
	overflow: hidden;
}
/*jifen channel animate*/
#jifenTip {
	position:absolute;
	width:145px;
	height:22px;
	background:#fcfe9b url('http://r1.suc.itc.cn//itoolbar/index/icon_jifen.gif') no-repeat 5px 2px;
	border:1px solid #ffe876;
	color:#666;
	text-indent:28px;
	line-height:22px;
	cursor:pointer;
	overflow:hidden;
}
#jifenTip i {
	color:#f00;
	font-weight:bold;
	font-style:normal;
}
#jifenGold {
	position:absolute;
	z-index:2100;
	width:50px;
	height:50px;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://s2.suc.itc.cn/core/js/jquery/itoolbar/channel/icon_gold.png");
}
body, form, table, td, div, span {
	font-size:9pt;
	color:#333333;
	margin:0px;
}
A:link {
	color:#333333;
	text-decoration:none
}
A:visited {
	color:#333333;
	text-decoration:none
}
A:hover {
	color:#333333;
	text-decoration:underline
}
.AdTable {
	padding-top:3px;
	padding-bottom:3px;
}
/*此处可自行调整字间距，以便对齐*/
.TopLink1 {
	font-size:14px;
	color:#FFFFFF;
	height:30px;
	padding-top:8px;
	letter-spacing:0px;
}
.TopLink1 A:link {
	color:#FFFFFF;
	text-decoration:none
}
.TopLink1 A:visited {
	color:#FFFFFF;
	text-decoration:none
}
.TopLink1 A:hover {
	color:#FFFFFF;
	text-decoration:underline
}
/*此处可自行调整字间距，以便对齐*/
.TopLink2 {
	font-size:12px;
	color:#000000;
	height:34px;
	padding-top:12px;
	letter-spacing:2px;
}
.TopLink2 A:link {
	color:#000000;
	text-decoration:none
}
.TopLink2 A:visited {
	color:#000000;
	text-decoration:none
}
.TopLink2 A:hover {
	color:#000000;
	text-decoration:underline
}
/*此处可自行调整字间距，以便对齐*/
.TopLink3 {
	font-size:12px;
	color:#000000;
	height:30px;
	letter-spacing:0px;
	background:url(Img/Index_Top_Link_Bg.jpg);
	background-repeat:repeat-x
}
.TopLink3 A:link {
	color:#000000;
	text-decoration:none
}
.TopLink3 A:visited {
	color:#000000;
	text-decoration:none
}
.TopLink3 A:hover {
	color:#000000;
	text-decoration:underline
}
.TopLinkText {
	font-size:9pt;
	color:#333333;
	line-height:20px
}
.TopLinkText A:link {
	color:#333333;
	text-decoration:none
}
.TopLinkText A:visited {
	color:#333333;
	text-decoration:none
}
.TopLinkText A:hover {
	color:#333333;
	text-decoration:underline
}
.LeftTitle {
	font-weight:600;
	font-size:12px;
	letter-spacing:2px
}
.LeftMore {
	background-image:url(Img/Left_Title_bg.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	text-align:right
}
.LeftLine {
	background-image:url(Img/Left_Title_Line.gif);
	background-repeat:repeat-x;
}
.RightTitle {
	font-size:14px;
	font-weight:600
}
.CenterTitle {
	font-size:14px;
	font-weight:600
}
.NewsSwitch_Select {
	width:80px;
	background-image:url(Img/NewsSwitch_Title_Select.gif);
	background-repeat:no-repeat;
	font-size:14px;
	font-weight:600;
	text-align:center;
}
.NewsSwitch_Select A:link {
	color:#FFFFFF;
	text-decoration:none
}
.NewsSwitch_Select A:visited {
	color:#FFFFFF;
	text-decoration:none
}
.NewsSwitch_Select A:hover {
	color:#333333;
	text-decoration:none
}
.NewsSwitch_Default {
	width:80px;
	background-image:url(Img/NewsSwitch_Title_Default.gif);
	background-repeat:no-repeat;
	font-size:14px;
	font-weight:600;
	text-align:center;
}
.NewsSwitch_Default A:link {
	color:#333333;
	text-decoration:none
}
.NewsSwitch_Default A:visited {
	color:#333333;
	text-decoration:none
}
.NewsSwitch_Default A:hover {
	color:#333333;
	text-decoration:none
}
.ListLine1 {
	font-size:14px;
	color:#333333;
	line-height:25px;
	padding-left:10px;
	padding-right:10px;
}
.ListLine1 A:link {
	color:#333333;
	text-decoration:none
}
.ListLine1 A:visited {
	color:#333333;
	text-decoration:none
}
.ListLine1 A:hover {
	color:#333333;
	text-decoration:underline
}
.ListLine11 {
	font-size:14px;
	color:#333333;
	line-height:24px;
	padding-left:10px;
	padding-right:10px;
}
.ListLine11 A:link {
	color:#333333;
	text-decoration:none
}
.ListLine11 A:visited {
	color:#333333;
	text-decoration:none
}
.ListLine11 A:hover {
	color:#333333;
	text-decoration:underline
}
.ListLine2 {
	font-size:12px;
	color:#333333;
	line-height:24px;
	padding-left:5px;
	padding-right:5px;
}
.ListLine2 A:link {
	color:#333333;
	text-decoration:none
}
.ListLine2 A:visited {
	color:#333333;
	text-decoration:none
}
.ListLine2 A:hover {
	color:#333333;
	text-decoration:underline
}
.ListLinea {
	font-size:12px;
	color:#333333;
	line-height:20px;
	padding-left:5px;
	padding-right:5px;
}
.ListLinea A:link {
	color:#333333;
	text-decoration:none
}
.ListLinea A:visited {
	color:#333333;
	text-decoration:none
}
.ListLinea A:hover {
	color:#333333;
	text-decoration:underline
}
.ListLine3 {
	font-size:14px;
	color:#333333;
	line-height:24px;
	padding-left:5px;
	padding-right:5px;
}
.ListLine3 A:link {
	color:#333333;
	text-decoration:none
}
.ListLine3 A:visited {
	color:#333333;
	text-decoration:none
}
.ListLine3 A:hover {
	color:#333333;
	text-decoration:underline
}
.PicSwitch_Select {
	background-image:url(Img/PicSwitch_Select.jpg);
	background-repeat:repeat-x;
	font-size:12px;
	text-align:center;
}
.PicSwitch_Default {
	background-image:url(Img/PicSwitch_Default.jpg);
	background-repeat:repeat-x;
	font-size:12px;
	text-align:center;
}
.PicSwitch_Item {
	height:24px;
	padding-top:6px;
	border-bottom:1px dotted #999999
}
.Quxian_Item {
	width:78px;
	height:22px;
	background-image:url(Img/Quxian_Item_Bg.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
	text-align:center;
	padding-top:5px;
	font-size:12px;
	font-weight:600
}
.Quxian_Item A:link {
	color:#666666;
	text-decoration:none
}
.Quxian_Item A:visited {
	color:#666666;
	text-decoration:none
}
.Quxian_Item A:hover {
	color:#666666;
	text-decoration:none
}
.Quxian_Itemspan {
	color:#666666;
	letter-spacing:5px;
	font-size:12px;
	font-weight:600
}
.Main_HSplit {
	border-bottom:1px solid #CECACB;
	background-color:#D9D9D9
}
.CopyRight {
	font-size:9pt;
	color:#000000;
	line-height:24px;
}
.CopyRight A:link {
	color:#CC0000;
	text-decoration:none
}
.CopyRight A:visited {
	color:#CC0000;
	text-decoration:none
}
.CopyRight A:hover {
	color:#CC0000;
	text-decoration:none
}
#links {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#links h2 {
	display: none;
}
#links div.toggle {
}
#links div.toggle ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#links div.toggle li {
	float: left;
	margin-right: 1px;
}
#links div.toggle li.last {
	margin-right: 0px;
}
#links div.toggle li a {
	display: block;
	font-weight: bold;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	width: 100px;
	height:14px;
	line-height:14px;
	text-align: center;
	background: url('links_tab.gif') repeat-x 0px 0px;
	color: #5e3700;
	padding-left:7px;
	padding-right:7px;
	padding-top:4px;
	padding-bottom:4px
}
#links div.toggle li a.on {
	color: #11449e;
	background: url('links_tab.gif') repeat-x 0px -23px;
}
#links div.toggle li.last a {
	width: 92px;
}
#links #press, #links #regional, #links #friends, #links #citied, #links #westnet, #links #tvs, #links #mingren, #links #hnnews, #links #cssq, #links #wm, #links #shuhua {
	clear: both;
	text-align: center;
	border: #e0e0e0 1px solid;
	padding: 0px 0;
	display: none;
	background:#fff
}
#links #press h3, #links #regional h3, #links #friends h3, #links #citied h3, #links #westnet h3, #links #tvs h3, #links #hnnews h3, #links #cssq h3, #links #wm h3, #links #mingren h3, #links #shuhua h3 {
	display: none;
}
#links #press ul, #links #regional ul, #links #friends ul, #links #citied ul, #links #westnet ul, #links #hnnews ul, #links #tvs ul, #links #cssq ul, #links #wm ul, #links #mingren ul, #links #shuhua ul {
	list-style: none;
	margin: 0px;
	padding: 2px 0px;
	text-align: left;
}
#links #press li, #links #hnnews li, #links #regional li, #links #friends li, #links #citied li, #links #westnet li, #links #tvs li, #links #cssq li, #links #wm li, #links #mingren li, #links #shuhua li {
	text-align: left;
	line-height: 150%;
	margin: 0px;
	display: inline;
	padding: 0px 1px 0px 0px;
}
a {
	color:#1f376d;
}
a.lchot {
	color:#bd0a01;
}
a.lchot:visited {
	color:#bd0a01;
}
.fc30 {
	color:#1f376d;
}
#TextNav {
	color:#1f376d;
}
#TextNav a:hover, #TextNav a.lcnew:hover {
	background-color:#509ad8;
}
#Soso {
	background:url(http://mat1.gtimg.com/www/iskin960/s01/s_b_1.1.0.png) no-repeat;
}
#Wealth, #Wealth a {
	color:#fff;
}
#def div {
	background:url(http://mat1.gtimg.com/www/iskin09/skinbt.png) no-repeat -14px top;
}
#SosoArea .w, #SosoArea input.bot, #sosoFod, #sosoFod h3.s, #sosoFod h3.s1, #proNav, #News, #finance, #car, #tech, #edu, #kid, #astro, #house, #movie, #News h4, #News h4.s, #News span h4, #News span h4.s, #finance h4, #car h4, #tech h4, #edu h4, #kid h4, #astro h4, #sports h4, #finance h4.s, #car h4.s, #tech h4.s, #edu h4.s, #kid h4.s, #astro h4.s, #sports h4.s, #financeInfo form input.i, #today, #blog, #vfoucs, #video, #sports, #ent, #lady, #game, #comic, #expo, .res_b, .pro_b, #adAreaA, #adAreaA h3, #adAreaA h3.s, #adAreaG, #adAreaG h3, #adAreaG h3.s, .adAreaA_t, .adAreaA_b, .adAreaG_b, #adAreaB, #adAreaB h3, #adAreaB h3.s, .adAreaB_t, .adAreaB_b, #adAreaS h5, #digi, #society, #digi h4, #digi h4.s, #society h4, #society h4.s, #book, #book h4, #book h4.s, #baby, #baby h4, #baby h4.s, #cul, #cul h4, #cul h4.s {
	background-image:url(http://mat1.gtimg.com/www/iskin960/s01/skin_1.1.1.png);
	background-repeat:no-repeat;
}
#SosoArea .w {
	color:#ccc;
	background-color:transparent;
	background-position:0 -45px;
}
#SosoArea input.bot {
	color:#5c4215;
	background-position:0 -10px;
}
#sosoFod {
	background-position:58px -76px;
}
#sosoFod h3 {
	color:#fff;
}
#sosoFod h3.s {
	color:#3b5995;
	background-position:-70px -10px;
}
#sosoFod h3 a {
	color:#fff;
}
#sosoFod h3.s a {
	color:#3b5995;
}
#sosoFod h3.s1 {
	color:#3b5995;
	background-position:-70px -10px;
}
#sosoFod h3.s2 {
	color:#fff;
}
#sosoFod .more a {
	color:#000;
}
#proNav {
	background-position:0 -335px;
}
#proNav span {
	color:#6a7faf
}
#proNav a {
	color:#1f376d;
}
#proNav a:hover {
	color:#fff;
	background:#509ad8;
}
#proNav a.m {
	color:#696768;
}
#proArea_banner {
	background:#f3f8fc;
}
#News, #finance, #car, #tech, #kid, #astro, #digi, #society, #book {
	background-position:0 -110px;
}
#News h4 {
	color:#1f376d;
	background-position:-80px -160px;
}
#News h4.s {
	color:#1f376d;
	background-position:-80px -190px;
}
#News span h4 {
	background-position:-80px -160px;
}
#News span h4.s {
	background-position:-80px -190px;
}
#finance h4, #car h4, #tech h4, #edu h4, #kid h4, #astro h4 {
	color:#1f376d;
	background-position:0 -160px;
}
#finance h4.s, #car h4.s, #tech h4.s, #edu h4.s, #kid h4.s, #astro h4.s, #digi h4.s, #society h4.s, #book h4.s {
	color:#1f376d;
	background-position:0 -190px;
}
#NewsInfo h3 a {
	color:#1f376d;
}
#NewsInfo h3 a.visited {
	color:#800080
}
#NewsInfo, #financeInfo, #carInfo, #techInfo, #kidInfo, #astroInfo, #houseInfo, #digiInfo, #bookInfo, #societyInfo {
	border-left:1px solid #aacbee;
	border-right:1px solid #aacbee;
}
#today, #blog, #vfoucs, #video, #sports, #ent, #lady, #game, #comic, #expo, #movie, #edu, #baby, #cul {
	color:#c5daef;
	background-position:0 -225px;
}
#video .fr a, #expo .fr a {
	color:#0143bd;
}
#todayInfo, #blogInfo, #vfoucsInfo, #videoInfo, #sportsInfo, #entInfo, #ladyInfo, #gameInfo, #comicInfo, #expoInfo, #movieInfo, #babyInfo, #culInfo, #eduInfo {
	border-left:1px solid #D4D4D4;
	border-right:1px solid #D4D4D4;
}
.res_b {
	background-position:0 -145px;
}
.pro_b {
	background-position:0 -255px;
}
.adArea h5, .adArea h5 a {
	color:#5f5f5f;
}
#adAreaAInfo, #adAreaGInfo, #adAreaBInfo, #adAreaC, #adAreaD, #adAreaE, #adAreaP, #adAreaDi, #adAreaS, #gongyi, #meishi, #tuangou {
	border-left:1px solid #d4d4d4;
	border-right:1px solid #d4d4d4;
	background:#f6f9fe
}
#adAreaBInfo {
	background:#fff;
}
#adAreaAInfo a, #adAreaA a, #adAreaGInfo a, #adAreaG a, #adAreaBInfo a, #adAreaB a, #adAreaC a, #adAreaD a, #adAreaE a, #adAreaP a, #adAreaDi a, #adAreaS a, #gongyi a, #meishi a {
	color:#5f5f5f;
}
#adAreaAInfo a:hover, #adAreaA a:hover, #adAreaGInfo a:hover, #adAreaG a:hover, #adAreaBInfo a:hover, #adAreaB a:hover, #adAreaC a:hover, #adAreaD a:hover, #adAreaE a:hover, #adAreaP a:hover, #adAreaDi a:hover, #adAreaS a:hover {
	color:#bd0a01;
}
#adAreaAInfo a.lchot, #adAreaGInfo a.lchot, #adAreaBInfo a.lchot, #adAreaC a.lchot, #adAreaD a.lchot, #adAreaE a.lchot, #adAreaP a.lchot, #adAreaDi a.lchot, #adAreaS a.lchot {
	color:#bd0a01;
}
#adAreaAInfo a.lcbhot, #adAreaGInfo a.lcbhot, #adAreaBInfo a.lcbhot, #adAreaC a.lcbhot, #adAreaD a.lcbhot, #adAreaE a.lcbhot, #adAreaP a.lcbhot, #adAreaDi a.lcbhot, #adAreaS a.lcbhot {
	color:#bd0a01;
	font-weight:bold;
}
#adAreaA {
	background-position:-175px -160px;
}
#adAreaA h3 {
	color:#5f5f5f;
	background-position:-175px -10px;
}
#adAreaA h3.s {
	background-position:-225px -10px;
}
.adAreaA_t {
	background-position:0 -260px;
}
.adAreaA_b {
	background-position:0 -264px;
}
.adAreaG_b {
	background-position:0 -264px;
}
#adAreaB {
	background-position:-175px -190px;
}
#adAreaB h3 {
	color:#5f5f5f;
	background-position:-280px -10px;
}
#adAreaB h3.s {
	background-position:-320px -10px;
}
.adAreaB_t {
	background-position:-200px -260px;
}
.adAreaB_b {
	background-position:-200px -264px;
}
#adAreaS h5 {
	background-position:-394px -113px;
}
#adAreaS span {
	color:#38617d;
}
#adAreaS span a {
	color:#38617d;
}
#sports {
	background-position:0 -300px;
}
#sports h4 {
	background-position:-310px -270px;
}
#sports h4.s {
	background-position:-220px -270px;
}
#adAreaG {
	background-position:-175px -160px;
}
#adAreaG h3 {
	color:#5f5f5f;
	background-position:-175px -10px;
}
#adAreaG h3.s {
	background-position:-225px -10px;
}
#proArea_banner .nums{color:#bd0a01;font-family:Verdana,sans-serif;font-weight:500;}
	}
#footer {
	clear:both;
	padding-left:100px
	}
#footer span {
	margin-top:8px;
	width:128px;
	height:50px;
	background-position:-89px 0
	}
#footer address {
	font-family:Verdana;
	margin:15px 0 0 50px;
	}
#footer sup {
	margin:10px 20px 0
	}
#footer sup a {
	width:28px;
	height:11px;
	background-position:-272px -29px
	}
#footerAboutUs {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 25px;
  line-height:20px;
}
#footerAboutUs a {
}
#copyright {
  font-family: "宋体", "Arial", "Helvetica", "sans-serif";,
}
.wrp{width:964px;margin-left:auto;margin-right:auto}
/* 页脚 */
#site_ft{padding:0 0 0px;text-align:center;color:#343434}
#site_ft .links,
#site_ft .links a{color:#1851A5}
#site_ft .foot_links{height:38px;margin:0 auto;padding:0 8px;margin-bottom:10px;line-height:38px;background:url(../../images/boda/top_login_bg.png) repeat-x 0 -156px;text-align:left;color:#1851A5}
#site_ft .foot_links .back_top{display:inline;float:right;margin-top:8px}
#site_ft .foot_links .back_top img{vertical-align:top}
#site_ft address{font-family:Arial,宋体,sans-serif;font-weight:normal;font-style:normal;text-align:center;padding-top:10px}
.foot_links{position:relative}
.foot_links_left{position:absolute;left:0;top:0;width:13px;height:38px;background:url(../../images/boda/top_login_bg.png) no-repeat -118px -31px}
.foot_links_right{
	position:absolute;
	right:-9px;
	top:0;
	width:21px;
	height:38px;
	background:url(../../images/boda/top_login_bg.png) no-repeat -135px -31px
}
