<div class="torui-foot">
	<p><a href="#">首页</a>-<a href="http://www.kaozc.com/list-2-1.html">关于博大</a>-<a href="http://www.cdbroad.com/cdbroad/gysy/18">博大公益</a>-<a href="http://wap.cdbroad.com/">手机版</a>-<a href="http://www.kaozc.com/list-5-1.html">合作联系</a>-<a href="http://www.kaozc.com/list-4-1.html">网站申明</a>-<a href="http://www.kaozc.com/old/">旧版</a>-<a href="http://www.kaozc.com/list-445-1.html">帮助中心</a>-<a href="http://www.kaozc.com/zyzg/">考试资讯</a>-<a href="http://www.kaozc.com/sitemap.html">网站导航</a></p>
	<p>Copyright  2011-2013 Inc. all Rights Reserved. 博大教育 版权所有</p>
    <p>成都博大教育科技有限公司  蜀ICP备05000704号</p>
   <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc423ac9f2c732e1388bc1aa4648cf47e' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F053385cd2ca8e264eeb39c271ba095a9' type='text/javascript'%3E%3C/script%3E"));
</script>

<script src="http://s17.cnzz.com/stat.php?id=4951434&web_id=4951434" language="JavaScript"></script>


</div>