
<script src="/statics/js/53kefu.js" type="text/javascript"></script>
<script type='text/javascript' src='http://chat.53kf.com/kf.php?arg=cdbroadcom&style=2'></script><div style='display:none;'><a href='http://www.53kf.com'>在线客服系统</a></div>
<!-- 请置于所有广告位代码之前 -->
<script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
<!-- 广告位：致睿竞价广告 -->
<script type="text/javascript">BAIDU_CLB_fillSlot("797461");</script>
<div class="cplisttop">
	<div class="onlinequizct"><a href="http://www.kaozc.com" target="_blank"><b>网站首页</b></a>-<a href="http://www.kaogwy.com">考公务员</a>-<a href="http://www.kaogwy.com/gjgwy/">国家公务员</a>-<a href="http://www.kaogwy.com/sydw/">事业单位</a>-<a href="http://www.kaozc.com/En/">职称英语</a>-<a href="http://www.kaozc.com/En/lgl/">理工类</a>-<a href="http://www.kaozc.com/En/wsl/">卫生类</a>-<a href="http://www.kaozc.com/jsj/">职称计算机</a>-<a href="http://www.kaozc.com/zyzg/">职业资格</a>-<a href="http://www.kaozc.com/zyzg/ckl/">金融财会</a>-<a href="http://www.kaozc.com/zyzg/jz/">建筑工程</a>-<a href="http://www.kaozc.com/zyzg/yy/">医药卫生</a></div>
  </div>
  <div class="onlinequizct torui-search-tp">
	<span><img src="/statics/kaozc/zrmokuai/images/logo_zc.jpg" /></span>
    <span class="sp1">中国职业、执业资格考试题库软件第一品牌</span>
    <span class="sp2">服务热线：<a href="javascript:viod(0)" onclick="kefulink()">[李老师]</a><a href="javascript:viod(0)" onclick="kefulink()">[张老师]</a><a href="javascript:viod(0)" onclick="kefulink()">[杨老师]</a> 服务时间：24小时无休在线咨询热线</span>
</div>
<!--导航-->
<div class="torui-menu">
	<div class="onlinequizct">
    	<a href="{siteurl($siteid)}/zhiruitiku/">首页</a>
        <a href="{siteurl($siteid)}/zhiruitiku/type_3363.html">金融财会</a>
        <a href="{siteurl($siteid)}/zhiruitiku/type_3364.html">医药卫生</a>
        <a href="{siteurl($siteid)}/zhiruitiku/type_3366.html">建筑工程</a>
        <a href="{siteurl($siteid)}/zhiruitiku/type_3367.html">外贸考试</a>
        <a href="{siteurl($siteid)}/zhiruitiku/type_3368.html">司法考试</a>
        <a href="{siteurl($siteid)}/zhiruitiku/type_3369.html">公务员</a>
        <a href="{siteurl($siteid)}/zhiruitiku/type_3370.html">其他资格</a>
        <a href="{siteurl($siteid)}/zhiruitiku/type_3375.html" class="bgnone">计算机</a>
    </div>
</div>