
<div class="torui-dv-bod torui-ty-mg">
    	<div class="bod-cut torui-ty-mg">软件功能介绍<a href="http://www3.53kf.com/webCompany.php?arg=cdbroadcom&style=2&language=cn&lytype=0&charset=gbk&kflist=on&kf=wf,lijanq,bcb,zhangjing,wtt,zhoucl,hr869,wzy,luoq,fanw,lyr,llfei,lfeng,lijiao867,yangjiao&zdkf_type=1&referer=http%3A%2F%2Fwww.kaozc.com%2Fzhiruitiku%2F&keyword=&tfrom=1&tpl=crystal_blue&timeStamp=1382324096988" target="_blank">24小时客服咨询</a></div>
        <div class="torui-align"><img src="/statics/kaozc/zrmokuai/images/rj-gn-js_01.png" /><img src="/statics/kaozc/zrmokuai/images/rj-gn-js_02.png" /><img src="/statics/kaozc/zrmokuai/images/rj-gn-js_03.png" /><img src="/statics/kaozc/zrmokuai/images/rj-gn-js_04.png" /><img src="/statics/kaozc/zrmokuai/images/rj-gn-js_05.png" /><img src="/statics/kaozc/zrmokuai/images/rj-gn-js_06.png" border="0" usemap="#Map" />
          <map name="Map" id="Map">
            <area shape="rect" coords="744,30,936,94" href="javascript:viod(0)" onclick="kefulink()" target="_blank" />
          </map>
        </div>
    </div>