@charset "utf-8";
/* CSS Document */
.space5{ clear:both; height:5px; display:block; visibility:hidden; overflow:hidden;}
.space10{ clear:both; height:10px; display:block; visibility:hidden; overflow:hidden;}

.select-city-box{ border:1px solid #e2e2e2; padding:5px 0px; overflow:hidden; margin-bottom:10px;}
.select-title{
	float:left;
	background:url(/statics/jsj/images/jsj_ty_bg.png) no-repeat 0px -54px;
    color: #FFFFFF;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 70px;
}
.select-city-all{ float:left; line-height:22px; padding:0px 8px; overflow:hidden;}
.select-city-all span{ padding:0px 3px;}

.city-box{ clear:both; width:100%; overflow:hidden;}
.detail-mk{ clear:both; padding:0px 0px 0px 14px; overflow:hidden;}
.city-box .city-mk-title{ height:41px; background:url(/statics/jsj/images/city_03.png) no-repeat;}
.cmth2{ float:left; line-height:34px; padding:0px 0px 7px 42px; font-size:16px; color:#FFF; font-weight:bold;}
.cmtintro{ float:right; padding:5px 10px 0px 0px; line-height:36px; overflow:hidden;}
.cmtintro span{
    color: #FFFFFF;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    text-align: center;
    width: 77px;
	background:url(/statics/jsj/images/cpys.png) no-repeat;
}
.cmtintro a{ padding:0px 10px; font-size:14px; color:#2F6FAD;}

.city-box-border{ clear:both; border:1px solid #c7d6e9; width:980px; overflow:hidden;}
.pd8{ padding:8px; overflow:hidden;}
.mkh3{ line-height:30px; font-size:14px; font-weight:bold; text-align:center; color:#4276b6; border:1px solid #d1e6f1;}

.mk-dl{ float:left; margin:10px 24px 0px 0px; width:204px; padding:4px 5px; height:47px; display:inline; border:1px solid #c7d6e9; overflow:hidden;}
.mk-dl dt{ float:left; margin:0px 8px 0px 0px; width:45px; height:45px; border:1px solid #CCC; overflow:hidden;}
.mk-dl dd a{ line-height:25px; color:#4276b6; font-size:14px;}

.mk-dl dd.dou a{ line-height:16px;}

.zxfd-title{ height:55px; background:url(/statics/jsj/images/city_15.png) no-repeat;}
.zxfd-title h2{ float:left; font-size:16px; font-weight:bold; color:#FFF; width:155px; text-align:center; line-height:44px; overflow:hidden;}

.zxfd-box{ clear:both; width:980px; overflow:hidden;}
.zxfd-box-left{ float:left; width:690px; padding:0px 5px;  border:1px solid #c7d6e9; border-top:3px solid #4276b6; height:307px; overflow:hidden;}
.zxfd-box-left .zxfd-h40{ padding:0px 0px 0px 5px; height:39px; line-height:39px; border-bottom:1px solid #c7d6e9; overflow:hidden; margin-bottom:10px;}

.zxfd-md-tt{ float:left; font-size:15px; font-weight:bold; color:#4276b6;}
.zxfd-more{ float:right; padding:0px 5px 0px 0px;}
.zxfd-more a{ padding:0px 5px;}
.zxfd-more .orange{ color:#f58500;}

.zxfd-bd{ overflow:hidden;}

.zxfd-mk-b{ float:left; width:340px; display:inline; overflow:hidden;}
.zxfd-mk-b .changtab-box{ height:36px; line-height:36px; padding:0px 8px; background:url(/statics/jsj/images/city_31.png) repeat-x left 33px;}
.zxfd-mk-b .changtab-box span{
    color: #4276b6;
    display: inline-block;
    font-size: 12px;
    height: 36px;
    margin-right: 6px;
	cursor:pointer;
}
.zxfd-mk-b .changtab-box span.on{ background:url(/statics/jsj/images/city_28.png) no-repeat center bottom;}

.changtab-content{ padding:8px 0px 8px 8px; overflow:hidden;}
.list-chang-content{ list-style:none; display:none; overflow:hidden;}
.list-chang-content li{ height:25px; line-height:25px; background:url(/statics/jsj/images/icon1.jpg) no-repeat left center; padding:0px 0px 0px 10px; overflow:hidden;}
.list-chang-content li a{ font-size:14px; color:#555555;}
.list-chang-content li span{ float:right; color:#999999; font-family: Verdana,Arial;}

.zxfd-box-right{ float:right; width:262px; overflow:hidden; border:1px #c7d6e9 solid;}
.zxfd-br-title{ height:41px; border-bottom:1px #c7d6e9 solid; overflow:hidden; background:#e6ecf4;}
.zxfd-br-title h2{ line-height:41px; font-size:14px; background:url(/statics/jsj/images/city_24.png) no-repeat 7px center; padding:0px 20px; color:#4276b6;}

.list-zxfd-br{ padding:8px; list-style:none; overflow:hidden;}
.list-zxfd-br li{ height:25px; line-height:25px; background:url(/statics/jsj/images/icon1.jpg) no-repeat left center; padding:0px 0px 0px 10px; overflow:hidden; position:relative;}
.list-zxfd-br li a{ font-size:14px; color:#555555;}
.list-zxfd-br li span{ color:#999999; position:absolute; right:0px; top:0px; font-family: Verdana,Arial;}

