
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>博大考神</title>
<style type="text/css">
<!--
body {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #9C1000;
}
-->
</style>
</head>

<body>

<div align="center"><!--a href="http://broad.mall.taobao.com" target="_blank"></a>
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="1200" height="97">
    <param name="movie" value="renshi.swf" />
    <param name="quality" value="high" />
    <embed src="renshi.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1200" height="97"></embed>
  </object-->
<!-- 广告位：人事内页 -->

<script type="text/javascript" >BAIDU_CLB_SLOT_ID = "554028";</script>
<script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script> 
</div>
<div style="display:none">
<script src="http://s17.cnzz.com/stat.php?id=4951434&web_id=4951434" language="JavaScript"></script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc423ac9f2c732e1388bc1aa4648cf47e' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe8e2ee78f232c622837940189c3875a3' type='text/javascript'%3E%3C/script%3E"));
</script>

</div>

</body>
</html>
