<div class="computerheaderbg">
	<div class="computertycenter">
    	<div class="headertop"><span class="sprg"><a href="/">□网站首页</a><a href="#">□设为首页</a><a href="#">□收藏本站</a></span></div>
        <div class="headerlogo"><span class="logo"><img src="/statics/jsj/images/rslogo.gif" /></span></div>
        <div class="headermenu">
        	<ul id="navmenu">
            	<li><a href="/">首页</a></li>
                <li><a href="/jsj/">职称计算机</a></li>
                <li><a href="/jsj/ksdt/bktz/">报考通知</a></li>
                <li><a href="/jsj/ksdt/zkz/">准考证打印</a></li>
                <li><a href="/jsj/mnst/mnt/">模拟考试</a></li>
                <li><a href="/jsj/lnzt/">历年真题</a></li>
                <li><a href="/jsj/jqxd/">技巧心得</a></li>
                <li><a href="/En/">职称英语</a></li>
            </ul>
        </div>
    </div>
</div>
