

<script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
<script type="text/javascript">
    <!-- 广告位： -->
    BAIDU_CLB_fillSlotAsync('976621','AD_976621');
    BAIDU_CLB_fillSlotAsync('976622','AD_976622');
    BAIDU_CLB_fillSlotAsync('976623','AD_976623');
	BAIDU_CLB_fillSlotAsync('976624','AD_976624');
	BAIDU_CLB_fillSlotAsync('976625','AD_976625');
	BAIDU_CLB_fillSlotAsync('976626','AD_976626');
</script>


<div class="banber1"><div class="toruibanner" id="AD_976621"></div>
    
    <div class="toruitopnewshot toruitymg">
    	<div class="newspic" id="AD_976622"></div>
        <div class="newsct">
        	<p>  {pc:content action="position" posid="245" catid="" thumb="" order="listorder DESC" start="0" num="1" }{loop $data $n $r}<a href="{$r[url]}"{title_style($r[style])} title="{trim($r[title])}" target="_blank">{str_cut(trim($r[title]),'80','')}</a>{/loop}{/pc}</p>
            <ul>
             {pc:content action="position" posid="245" catid="" thumb="" order="listorder DESC" start="1" num="8" }{loop $data $n $r}
            	<li><a href="{$r[url]}"{title_style($r[style])} title="{trim($r[title])}" target="_blank">{str_cut(trim($r[title]),'54','')}</a></li>
                {/loop}{/pc}
            </ul>
        </div>
        <div class="newsrgpc">
        	<p id="AD_976623"></p>
            <p class="wb"><a href="#" class="xlwb">新浪微博</a><a href="#" class="txwb">腾讯微博</a></p>
        </div>
        <div class="toruiclear"></div>
    </div>
    
    <div class="toruithreegg toruimgbt"><span id="AD_976624"></span><span id="AD_976625"></span><span class="mg0" id="AD_976626"></span><div class="toruiclear"></div></div>
    </div>